@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: Inter;
}

img {
    max-width: 100%;
    height: auto;
}

header, .main_illustration_wrapper {
    background: #fbf8f3;
}

::-webkit-scrollbar {
    width: .35rem;
}
   
::-webkit-scrollbar-thumb {
    background: #4d13d1; 
}

@import "./header";
@import "./main";
@import "./section";
@import "./section2";
@import "./articles";
@import "./footer";